* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.all {
  min-width: 350px;
  .all-main {
    width: 100%;
    margin: auto;
  }
  .main {
    background-color: gainsboro;
    margin: auto;
    margin-top: 50px;
    padding: 0;
  }
}
