.log-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  background-color: gainsboro;
  padding: 20px;
  height: 100vh;
}
